                                                                                        
<!DOCTYPE html>

<html>
        <body>
                <h1>Place Bets</h1>
		<h4>Bet 0 Sheckles if you don't want to bet</h4>
                <form action="/scout/place_bets/" method="post">

                {% csrf_token %}
                {% for field in form.visible_fields %}
                        {{ field.help_text }}<br />
                        {{field }}<br />
                {% endfor %}

                <input type="submit" value="Place Bet" />
        </body>
</html>

