<!DOCTYPE html>

<html>
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'scout_app/stylesheet.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <body>
                <h1>Autonomous Info for team {{ team_number }} in match {{ match_number }}</h1>

                <form action="/scout/scout_auto/" method="post">

                {% csrf_token %}
                {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}<br />
                        {{field }}<br />
                {% endfor %}
                <input type="submit" value="Submit" />
        </body>
</html>
