<!DOCTYPE html>

<html>
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'scout_app/stylesheet.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<body>
	
		{%if id == 1%}
		<h1>Teams From Match {{ match_number }}</h1>
		{% if latest_match_list %}
			<h3>Recent Teams</h3>
			{% for match in latest_match_list %}
				<li><a href = "/scout/team/{{ match.team_number }}/">{{ match.team_number }}</a></li>
			{% endfor %}
		{% else %}
			<p>No matches yet</p>
		{% endif %}

                <form action="/scout/view_data/" method="post">

                {% csrf_token %}
                {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}<br />
                        {{field }}<br />
                {% endfor %}

                <input type="submit" value="Search" />
		{%else%}
		<h1>Filter Data</h1>
                <form action="/scout/filter_data/" method="post">

                {% csrf_token %}
                {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}<br />
                        {{field }}<br />
                {% endfor %}

                <input type="submit" value="Filter" />
		{%endif%}
	</body>
</html>
